menu "Sequencer Configuration"

config RESET_SEQ_ON_DISABLE
    bool "reset the step counter on disable"
    default n

config ENABLE_STARTUP_MEMORY_CLEAR
    bool "enable the ability to delete the entire flash memory by holding a key on startup"
    default n

config AUTO_INC_STEP_ON_MIDI_IN
    bool "automatically increment the current step when a midi in packet is received"
    default y

config PLAY_ST_MENU_NOTE
    bool "when stepping through the steps of a sequence, play the note of the step"
    default n

endmenu # Sequencer Configuration